@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

::-webkit-scrollbar {
    @apply hidden;
}

.scrollbar-enabled {
    scrollbar-width:4px;
}

.scrollbar-enabled::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.scrollbar-enabled::-webkit-scrollbar-thumb {
    background-color: #39823E !important;
    border-radius:9px;
}
.scrollbar-enabled::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 9px;
} 


/* cattle-management overview page */
@media screen and (max-width:460px) {
    .cattle-management-options {
        flex-direction: column;
        width: 100% !important;
    }

    .cattle-management-options div {
        width: 100%;
    }
}

/* milk-production-overview page */
@media screen and (max-width:1300px) {
    .milk-production-options {
        flex-direction: column;
        width: 100% !important;
    }

    .milk-production-options div {
        width: 100%;
    }
}

@media screen and (max-width:1150px) {
    .feed-and-calf-options {
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
}

@media screen and (max-width:1250px) {
    .milk-history-options {
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
}

@media screen and (max-width:1350px) {
    .vaccination-history-options {
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
}

@media screen and (max-width:440px) {
    .add-new-cattle-navigation-slide-bar {
        width: 240px;
    }
}


/* feed stock filter options responsive */

@media screen and (max-width:450px) {
    .feed-stock-filter-options {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }
}