@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

::-webkit-scrollbar {
    @apply hidden;
}

@media screen and (max-width:630px) {
    .cattle-management-options {
        flex-direction: column;
        width: 100% !important;
    }
    .cattle-management-options div {
        width: 100%;
    }
}